<style>
		signatures-table {
			border-collapse: separate;
			border-spacing: 0;
			overflow: hidden;
      width: 100%;
		}
		.text-center {
			text-align: center;
		}
		.text-left {
			text-align: left;
		}
		.text-right {
			text-align: right;
		}
		.text-dark {
			color: #525252;
		}
    .text-bold {
      font-weight: bold;
    }
</style>

<div>
  <h3>RFQ NO: {{ rfq_name }} FOR SUPPLY AND DELIVERY OF {{ pi_title }} QUOTATION OPENING ON {{ transaction_date }}.</h3>

  <h3 class="text-center font-weight-bold">OPENING COMMITTEE REGISTER</h3>

  {% if committee_members %}
   <table class="table table-bordered table-striped table-header">
        <thead style="background-color: #f0efef">
          <tr>
            <td class="text-center text-bold">{{ _("No") }}</td>
            <td class="text-left text-bold">{{ _("Name") }}</td>
            <td class="text-center text-bold">{{ _("Signature") }}</td>
            <td class="text-right text-bold">{{ _("Date") }}</td>
          </tr>
        </thead>
        <tbody>
          {% for member in committee_members %}
          {% set user_signature = frappe.db.get_value("User Signature", {"name": member.user_id }, ["signature"]) %}
          <tr>
            <td class="text-center text-dark">{{ loop.index }}</td>
            <td>{{ member.get("full_name") }}</td>
            {% if user_signature%}
            <td class="text-center" style="width: 30%"><img width="100" height="25" src="{{ user_signature }}" /></td>
          {% else %}
            <td style="width: 30%"></td>
          {% endif %}
            <td class="text-right text-dark">{{ date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  {% endif %}
</div>